---
---
<!doctype html>

<html>
	<head>
		<meta name = "viewport" content = "width=device-width, initial-scale=1, user-scalable=no" />
		<title>Ujjwal </title>
		<link rel="stylesheet" href=
		"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
	</head>
	<body>
		<nav>
			<ul>
			{% for item in site.data.menu %}
				<li><a class="{%if page.url == item.link %}active{% endif %}" href = "{{ item.link }}">{{ item.title }}</a></li>
				{% endfor %}
			</ul>
		</nav>
		{{ content }}
<style>

body
{
	margin:0;
	padding:0;
}
nav
{
	width: 100%;
	background-color: #efefef;
}
nav ul
{
	width: 80%;
	margin: 0 auto;
	padding: 0;
}
nav ul li
{
	list-style:none;
	display: inline-block;
	padding: 20px;
}
nav ul li:hover{
	background: gray;
}
nav ul li a{
	color: #000;
	text-decoration: none;
	font-size: 1.5vw;
}
nav ul li a:active{
	list-style:none;
	background: white;
}
.custom-padding {
padding-left: 10vw;
padding-right: 10vw;
padding-top: 5vh;
padding-bottom: 10vh;
}
</style>
		</body>

</html>
